@model IEnumerable<RecipeServiceModel>;

<div  style="margin-left:60px">
    @foreach (var recipe in Model)
    {
        <div class="card inline-blocks" style="width: 18rem; display: inline-block; position:center; margin:12px"
        margin-block: auto;>
          <img class="card-img-top" src="@recipe.ImageUrl" alt="@recipe.Title">
          <div class="card-body">
            <h5 class="card-title">@recipe.Title</h5>
            <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id" class="btn btn-primary" style="cursor: pointer">Details</a>
            @if (ViewBag.AllowEdit == true || User.IsAdmin())
           {
                <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@recipe.Id" class="btn btn-outline-primary m-2" style="cursor: pointer">Edit</a>
                <a asp-controller="Recipes" asp-action="Delete" asp-route-id="@recipe.Id" class="btn btn-danger" style="cursor: pointer">Delete</a>
           }
          </div>
        </div>
    }
</div>  
